body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.game-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* .card {
    text-align: center;
    padding: 20px;
    background-color: #3498db;
    color: #fff;
    border-radius: 8px;
} */

/* .card h2 {
    margin: 0;
    font-size: 24px;
} */

.button-container {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin: 0 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #27ae60;
}

.result {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}

#restartBtn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#restartBtn:hover {
    background-color: #c0392b;
}


.top-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Add some spacing between top-section and card */
}


.score-box, .chances-box {
    padding: 20px; 
    border: 1px solid #ccc; 
    text-align: center;
}

/* Adjust styling for better visualization */
.score-box p, .chances-box p {
    margin-bottom: 10px;
    font-weight: bold;
}
  .card {
    text-align: center;
    margin: 0 auto;
    position: relative;
    /* margin-right: 10px; */
    width: 150px;
    height: 220px;
    border-radius: 10px;
    background: #fff;
    -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
  }
  
  .card p {
    text-align: center;
    font: 100px/220px Georgia, Times New Roman, serif;
  }

  .suitdiamonds:before, .suitdiamonds:after {
    content: "♦";
    color: #ff0000;
  }
   
  .suithearts:before, .suithearts:after {
    content: "♥";
    color: #ff0000;
  }
   
  .suitclubs:before, .suitclubs:after {
    content: "♣";
    color: #000;
  }
   
  .suitspades:before, .suitspades:after {
    content: "♠";
    color: #000;
  }

  div[class*='suit']:before {
    position: absolute;
    font-size: 35px;
    left: 5px;
    top: 5px;
  }
   
  div[class*='suit']:after {
    position: absolute;
    font-size: 35px;
    right: 5px;
    bottom: 5px;
  }